<!DOCTYPE html>
<html>
<head>
    <title>Bike Rental Prediction</title>
</head>
<body>
    <h2>Enter Features for Bike Rental Prediction</h2>
    <form action="/predict" method="post">
        {% for feature in ["yr", "mnth", "hr", "weekday", "temp", "atemp", "hum", "windspeed", "season", "holiday", "workingday", "weathersit"] %}
            {{ feature | capitalize }}: <input type="text" name="{{ feature }}"><br><br>
        {% endfor %}
        <input type="submit" value="Predict">
    </form>
</body>
</html>
